version: "3.9"

services:
  django-news:
    build: .
    container_name: django-news
    restart: always
    # ports:
    #   - "8000:8000"
    expose:
      - 8000
    command: >
      sh -c "python manage.py makemigrations && python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python -m celery -A celery -A nbanews worker -l info --detach &&
      python -m celery -A nbanews beat -l info --detach &&
      gunicorn nbanews.wsgi:application --bind '0.0.0.0:8000'"
    depends_on:
      - redis
      - db
    volumes:
      - django-news_static_volume:/nbanews/static
    env_file:
      - ./.env
    networks:
      - NBANewsNetwork

  redis:
    image: redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis:/data
    networks:
      - NBANewsNetwork
  
  db:
    image: postgres:15-alpine
    env_file:
      - ./.env
    restart: always
    ports:
      - '5436:5436'
    volumes:
      - db-volume:/var/lib/postgresql/data
    networks:
      - NBANewsNetwork

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - 8002:80
    depends_on:
      - django-news
    volumes:
      - django-news_static_volume:/nbanews/static
    networks:
      - NBANewsNetwork

volumes:
  redis:
  db-volume:
  django-news_static_volume:

networks:
  NBANewsNetwork:
    driver: bridge