.line-clamp-5 {
  word-wrap: break-word;
  overflow: hidden;
  /* line-clamp: 6; */ /*not supported by firefox as of time of writing*/
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

h1 {
  font-size: 1.75rem;

  @media (min-width: 460px) {
    font-size: 2.5rem;
  }

}